{
  "eslintIntegration": true,
  "tabWidth": 4,
  "singleQuote": true,
  "semi": false,
  "printWidth": 120,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "jsxSingleQuote": true,
  "trailingComma": "es5"
}
